div,
h4 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 570px;
    box-shadow: 0 0 5px #333;
    font-family: Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

h4 {
    margin: 10px;
}

hr {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.selectpicker-option {
    color: #191c1f;
    position: relative;

    font-size:14px;
    text-transform: uppercase;
    text-align: center;

}

.divider {
    width: 300px;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.popup-header {
    width: 350px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    background-color: #3176f5;
}

#logo {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 5px;
}

/*the container must be positioned relative:*/

/*the container must be positioned relative:*/

.btn-color {
    width: 20px;
    height: 20px;
    margin: 10px;
    border: none;
    border-radius: 50%;
}

.green {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2ed474;
    opacity: 0.9;

}

.yellow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FA9408;
    opacity: 0.9;

}

.red {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #dc0d1e;
    opacity: 0.9;
}

.blue {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #4C92FF;
    opacity: 0.9;
}

.purple {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #b72bc3;
    opacity: 0.9;
}

.popup-footer {
    margin-top: 5px;
}

/* The switch - the box around the slider */
.switch-div {
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    margin-top: 94px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

custom-select:disabled {
    color: black;
}