div,
h4 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 400px;
    box-shadow: 0 0 5px #333;
    font-family: Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

h4 {
    margin: 10px;
}

.popup-header {
    background-color: #4a89dc;
    padding: 5px 15px 15px 15px;
    height: 40px;
}

#logo {
    display: inline-block;
    margin-top: 10px;
}

#title {
    display: inline-block;
    color: white;
    font-size: 35px;
}


/*the container must be positioned relative:*/

.custom-select {
    position: relative;
    display: block;
    font-family: Helvetica;
    width: 380px;
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    border: 2px solid #4a89dc;
    border-radius: 5px;
    text-transform: uppercase;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #333;
    padding: 10px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    background-color: white;
}


/*style items (options):*/

.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #ddd;
}

.btn-color {
    width: 20px;
    height: 20px;
    margin: 10px;
    border: none;
    border-radius: 1%;
}

.green {
    background-color: mediumspringgreen;
    opacity: 0.7;
}

.yellow {
    background-color: #FFFD5F;
    opacity: 0.7;
}

.red {
    background-color: #E84A51;
    opacity: 0.7;
}

.blue {
    background-color: #4C92FF;
    opacity: 0.7;
}

.purple {
    background-color: #AE60FF;
    opacity: 0.7;
}

.popup-footer {
    margin-top: 25px;
    background-color: #4a89dc;
    padding: 12px;
}

#btn-find {
    background-color: #4a89dc;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    padding: 10px 40px;
    margin: 0 auto;
}